src/dtd/classroom.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT classromm (className,grade,students+)>
<!ATTLIST classromm id ID #REQUIRED>
<!ELEMENT className (#PCDATA)>
<!ELEMENT grade (#PCDATA)>
<!ELEMENT students (student+)>
<!ELEMENT student (id,stuName,age)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT stuName (#PCDATA)>
<!ELEMENT age (#PCDATA)>